#
# Intel SGX
#

menu "Intel SGX"

config INTEL_SGX
	tristate "Intel(R) SGX Driver"
	default n
	depends on X86_64 && CPU_SUP_INTEL
	select MMU_NOTIFIER
	---help---
	Intel(R) SGX is a set of CPU instructions that can be used by
	applications to set aside private regions of code and data.  The code
	outside the enclave is disallowed to access the memory inside the
	enclave by the CPU access control.

	The firmware uses PRMRR registers to reserve an area of physical memory
	called Enclave Page Cache (EPC). There is a hardware unit in the
	processor called Memory Encryption Engine. The MEE encrypts and decrypts
	the EPC pages as they enter and leave the processor package.


config INTEL_SGX_SIGNING_KEY
	string "Path to the Intel SGX LE signing key"
	default "drivers/platform/x86/intel_sgx/intel_sgx_signing_key.pem"
	depends on INTEL_SGX
	---help---
	Provide a path to a 3072-bit RSA private key that will be used to
	sign the launch enclave.

endmenu
